@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/effect-coverflow";
@import "swiper/css/pagination";
@import "swiper/css/navigation";


html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-poppins), var(--font-inter), sans-serif;
}



/* Swiper Coverflow Custom Styles */
.swiper-wrapper{
  width: 100% !important;
}


.swiper-coverflow .swiper-slide {
  transition: all 300ms;
}


.swiper-coverflow .swiper-button-next,
.swiper-coverflow .swiper-button-prev {
  color: white;
  width: 32px;
  height: 32px;

}

.swiper-coverflow .swiper-button-next::after,
.swiper-coverflow .swiper-button-prev::after {
  font-size: 14px;
  font-weight: bold;
}


  .swiper-coverflow .swiper-button-next::after,
  .swiper-coverflow .swiper-button-prev::after {
    font-size: 18px;
  }





/* Bottom Swiper Styles */
.mySwiper {
  padding: 20px 0 40px 0;
}



@media (max-width: 640px) {
  .mySwiper {
    padding: 15px 0 30px 0;
  }
}