@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/effect-coverflow";
@import "swiper/css/pagination";
@import "swiper/css/navigation";


html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: var(--font-poppins), var(--font-inter), sans-serif;
}

* {
  box-sizing: border-box;
}



/* Swiper Coverflow Custom Styles */
.swiper-wrapper{
  width: 100% !important;
}


.swiper-coverflow .swiper-slide {
  transition: all 300ms;
}

.swiper-coverflow .swiper-button-next{
  right: var(--swiper-navigation-sides-offset, -6px);
}

.swiper-coverflow .swiper-button-prev{
  left:  var(--swiper-navigation-sides-offset, -6px);;
}

.swiper-coverflow .swiper-button-next,
.swiper-coverflow .swiper-button-prev {
  color: white;
  width: 24px;
  height: 24px;
}

.swiper-coverflow .swiper-button-next::after,
.swiper-coverflow .swiper-button-prev::after {
  font-size: 12px;
  font-weight: bold;
}

@media (min-width: 640px) {
  .swiper-coverflow .swiper-button-next,
  .swiper-coverflow .swiper-button-prev {
    width: 32px;
    height: 32px;
  }
  
  .swiper-coverflow .swiper-button-next::after,
  .swiper-coverflow .swiper-button-prev::after {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .swiper-coverflow .swiper-button-next::after,
  .swiper-coverflow .swiper-button-prev::after {
    font-size: 18px;
  }
}





/* Bottom Swiper Styles */
.mySwiper {
  padding: 15px 0 30px 0;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 640px) {
  .mySwiper {
    padding: 20px 0 40px 0;
  }
}